################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeepEqualityAssertion/bin/Debug/net5.0
/DeepEqualityAssertion/obj
/DeepEqualityAssertion.Test/bin/Debug/net5.0
/DeepEqualityAssertion.Test/obj
